#pdfetch-toolbarbutton
{
  list-style-image: url("chrome://pdfetch/skin/toolbarbutton.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#pdfetch-toolbarbutton:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}

[iconsize="small"] #pdfetch-toolbarbutton
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}

[iconsize="small"] #pdfetch-toolbarbutton:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

